body {
  background:#000;
}

#app {
  background: url('/assets/img/app-bg.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #0b0c26;

  > main {
    padding: var(--app-side-padding);
    background: rgb(0 0 0 / 78%);
    padding-bottom:100px;
  }
}