.van-tabbar {
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: calc(var(--app-width) - (var(--app-side-padding) * 2));
  margin: auto;

  .van-tabbar-item {
    color:#FFF;

    &.van-tabbar-item--active {
      background: transparent;
      color:var(--app-color);
    }
  }

  &:after {
    display:none;
  }
}