/** Vant **/
.van-overlay {
    backdrop-filter: blur(2px);
}

.van-popup {
    backdrop-filter: blur(8px);
    border-top:1px solid rgb(255 255 255 / 15%);
}

.van-action-sheet__header {
    color:#FFF;
}


/** Prime vue **/
.p-select-overlay {
    z-index: 10001 !important;
}

.p-chip {

    &.commodity { background-color: var(--color-commodity); }
    &.stock { background-color: var(--color-stock); }
    &.real_estate { background-color: var(--color-real_estate); }
    &.crypto { background-color: var(--color-crypto); }
}