:root {

    /* COLORS */
    --color-gold: #ffa300;
    --color-yellow: #ffa300;
    --color-green: #88C100;
    --color-red: #FF003C;

    --app-color: var(--color-gold);
    --color-color-black: #201605;
    --app-color-secondary: var(--color-green);
    --color-fail: var(--color-red);
    --color-success: var(--color-green);

    --bg-dark:#120b1b;
    --bg-dark-mid:#0c0c0d;

    --card-bg: var(--bg-dark-mid);

    /* SIZES */
    --app-width:340px;
    --app-side-padding:1rem;


    /* VANT */
    --van-popup-background: rgb(255 255 255 / 3%);
}
